@{
    ViewBag.Title = "Niečo sa pokazilo ....";
}

<section>
    <header>
        <section>
            <h1>
                <span class="glyphicon glyphicon-ban-circle"></span>
                Niečo sa pokazilo ....
            </h1>
        </section>
    </header>

</section>
