@import url("eco.ui.defs.less");

.form-horizontal {

    .eco-buttons {
        margin-left: -@padding-large-horizontal + 1px;
    }
}

.form-group {
    margin-bottom: 10px;
}

.col-md-10{
    width: 30%;
}

.control-label {
    text-align: left !important;
}
