@import url("eco.ui.defs.less");

body {
    background-color: @eco-white-color;
    min-height: 764px;
    font-family: @eco-Roboto-font;

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
   
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.eco-nav-menu {
    .eco-brand {
        height: auto;

        img.eco-logo {
            float: left;
            height: 50px;
        }

        span.navbar-brand {
            margin-left: 0;

            &:hover {
                color: @eco-green-color;
            }
        }
    }

    ul {
        float: none;

        li {
            a:hover {
                color: @eco-green-color !important;
            }

            &.eco-autorize-menu {
                float: right;

                @media screen and (max-width: @screen-xs-max) {
                    float: none;
                }

                .eco-menu-points {
                    float: left;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    color: @eco-gray-color-6;
                }

                .eco-menu-user {
                    float: right;

                    @media screen and (max-width: @screen-xs-max) {
                        float: none;
                    }
                }
            }
        }
    }
}

#wrapper {
    margin-top: 60px;

    & > .container {

        @media screen and (max-width: @eco-page-max-width-screen) {
            background: none;
        }

        .renderbody {
            clear: both;
            padding-top: @padding-base-vertical;
        }

        .eco-footer {
            text-align: center;
            height: 30px;
        }
    }
}

.jumbotron {
    background-color: @eco-green-color-2;
}

#eco-parcels {

    #eco-categories {
        margin-top: @padding-large-vertical;

        a {
            color: @eco-blue-color;
        }

        a:hover {
            text-decoration: none;
        }

        button {
            width: 100px;

            &.btn-active {
                background-color: @eco-green-color-3;
                color: white;
            }
        }
    }

    hr {
        margin-top: @padding-large-vertical;
        margin-bottom: @padding-large-vertical;
    }
}

.btn-parcel {
    background-color: @eco-green-color-3;
    color: white;
    margin-bottom: @padding-large-horizontal;
}

#loginForm,
#registrationForm {
    .eco-col-input {
        width: 30%;

        @media screen and (max-width: @screen-md-max) {
            width: 40%;
        }

        @media screen and (max-width: @screen-xs-max) {
            width: 100%;
        }
    }
}

.condtitions-bootbox {
    .modal-dialog,
    .modal-content {
        width: 800px;

        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }
}

.eco-table {
    border-collapse: collapse;
    width: 100%;

    td {
        border: 1px solid @eco-gray-color-7;
        padding: 8px;

        a:hover {
            cursor: pointer;
        }
    }

    tr:nth-child(even) {
        background-color: @eco-gray-color-3;
    }

    tr:hover {
        background-color: @eco-green-color-2;
    }

    th {
        border: 1px solid @eco-gray-color-7;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: @eco-green-color-3;
        color: white;
        font-weight: normal;
    }
}
