@font-face {
  font-family: "ArtBrush";
  src: url('../../fonts/Artbrush.eot');
  src: url('../../fonts/Artbrush.eot#iefix') format('embedded-opentype'), url('../../fonts/Artbrush.woff2') format('woff2'), url('../../fonts/Artbrush.woff') format('woff'), url('../../fonts/Artbrush.ttf') format('truetype'), url('../../fonts/Artbrush.svg#ArtBrush') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  background-color: #FFFFFF;
  min-height: 764px;
  font-family: 'Roboto', sans-serif;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body ::-webkit-scrollbar-thumb {
  background: #888;
}
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.eco-nav-menu .eco-brand {
  height: auto;
}
.eco-nav-menu .eco-brand img.eco-logo {
  float: left;
  height: 50px;
}
.eco-nav-menu .eco-brand span.navbar-brand {
  margin-left: 0;
}
.eco-nav-menu .eco-brand span.navbar-brand:hover {
  color: #60C505;
}
.eco-nav-menu ul {
  float: none;
}
.eco-nav-menu ul li a:hover {
  color: #60C505 !important;
}
.eco-nav-menu ul li.eco-autorize-menu {
  float: right;
}
@media screen and (max-width: 767px) {
  .eco-nav-menu ul li.eco-autorize-menu {
    float: none;
  }
}
.eco-nav-menu ul li.eco-autorize-menu .eco-menu-points {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #9D9D9D;
}
.eco-nav-menu ul li.eco-autorize-menu .eco-menu-user {
  float: right;
}
@media screen and (max-width: 767px) {
  .eco-nav-menu ul li.eco-autorize-menu .eco-menu-user {
    float: none;
  }
}
#wrapper {
  margin-top: 60px;
}
@media screen and (max-width: 991px) {
  #wrapper > .container {
    background: none;
  }
}
#wrapper > .container .renderbody {
  clear: both;
  padding-top: 6px;
}
#wrapper > .container .eco-footer {
  text-align: center;
  height: 30px;
}
.jumbotron {
  background-color: #98D95F;
}
#eco-parcels #eco-categories {
  margin-top: 10px;
}
#eco-parcels #eco-categories a {
  color: #337AB7;
}
#eco-parcels #eco-categories a:hover {
  text-decoration: none;
}
#eco-parcels #eco-categories button {
  width: 100px;
}
#eco-parcels #eco-categories button.btn-active {
  background-color: #66A72F;
  color: white;
}
#eco-parcels hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-parcel {
  background-color: #66A72F;
  color: white;
  margin-bottom: 16px;
}
.eco-form .eco-col-input {
  width: 30%;
}
@media screen and (max-width: 1199px) {
  .eco-form .eco-col-input {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .eco-form .eco-col-input {
    width: 100%;
  }
}
.condtitions-bootbox .modal-dialog,
.condtitions-bootbox .modal-content {
  width: 800px;
}
@media screen and (max-width: 800px) {
  .condtitions-bootbox .modal-dialog,
  .condtitions-bootbox .modal-content {
    width: 100%;
  }
}
.eco-table {
  border-collapse: collapse;
  width: 100%;
}
.eco-table td {
  border: 1px solid #DDD;
  padding: 8px;
}
.eco-table td a:hover {
  cursor: pointer;
}
.eco-table tr:nth-child(even) {
  background-color: #E6E6E6;
}
.eco-table tr:hover {
  background-color: #98D95F;
}
.eco-table th {
  border: 1px solid #DDD;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #66A72F;
  color: white;
  font-weight: normal;
}