@{
    ViewBag.Title = "About us";
}

<div>
    <h2>
        About us
    </h2>
    <p>
        <b>Lorem ipsum dolor sit amet</b>, consectetur adipiscing elit. Aliquam vehicula eros sollicitudin quam semper tempus. Vivamus velit nisi, varius ac sollicitudin nec, posuere eu magna. Sed sit amet tortor cursus, lobortis massa eget, luctus diam. Aliquam ac interdum quam. Nam a egestas neque. Mauris ac dapibus nisl, eget scelerisque quam. Nunc dictum placerat justo, non mollis nunc pharetra aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula eros sollicitudin quam semper tempus. Vivamus velit nisi, varius ac sollicitudin nec, posuere eu magna. Sed sit amet tortor cursus, lobortis massa eget, luctus diam. Aliquam ac interdum quam. Nam a egestas neque. Mauris ac dapibus nisl, eget scelerisque quam. Nunc dictum placerat justo, non mollis nunc pharetra aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula eros sollicitudin quam semper tempus. Vivamus velit nisi, varius ac sollicitudin nec, posuere eu magna. Sed sit amet tortor cursus, lobortis massa eget, luctus diam. Aliquam ac interdum quam. Nam a egestas neque. Mauris ac dapibus nisl, eget scelerisque quam. Nunc dictum placerat justo, non mollis nunc pharetra aliquam.
    </p>

</div>

@section footer {
    @Html.Partial("FooterPartial")
}
