@{
    ViewBag.Title = "Contacts";
}

<div>
    <h2>
        Contact
    </h2>
    <address>
        Street, Number<br />
        City, Postal Code<br />
        Phone:&nbsp;123456789
    </address>
</div>

@section footer {
    @Html.Partial("FooterPartial")
}
