@model IEnumerable<string>

@{
    ViewBag.Title = "Process Data Page";
    IdentityVM identityVM = (IdentityVM)this.ViewData[EcoSendWeb.Infrastructure.Defs.C_VIEWDATAKEY_IDENTITY];
    bool isAdmin = (identityVM != null && identityVM.IsAdmin);
}

<div id="loader"></div>

<div id="files-manipulation-container">
    <div class="div-upload">
        @using (Ajax.BeginForm("ImportFile",
                 "Home",
                 null,
                 new AjaxOptions { HttpMethod = "POST" },
                 new { id = "eco-upload-file-submit", enctype = "multipart/form-data" }))
        {
            <label for="file">Import data file:</label>
            <br />
            <div class="upload-ctrl">
                <div class="box">
                    <input type="file" name="file[]" id="file" class="inputfile" data-multiple-caption="{count} files selected" accept=".xlsx" multiple />
                    <label for="file">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                        </svg>
                        <span>Choose a file&hellip;</span>
                    </label>
                </div>
                <input type="submit" class="btn btn-default eco-upload-file-submit-btn" value="Submit">
            </div>
        }
    </div>
    <div class="div-download">
        @if (isAdmin)
        {
            <strong>Export air data by ABC cat.:</strong>
            <div class="div-abc">
                @foreach (string abc in Model)
                {
                    <label>
                        <input type="checkbox" name="abc" id="@abc" />
                        @abc
                    </label>
                }
            </div>
            <a class="btn btn-default eco-download-abc-btn" href="#" title="Export">EXPORT</a>
            <br />
        }
        <strong>Export air data by part number:</strong>
        <textarea class="btn btn-default" id="eco-download-data"></textarea>
        <a class="btn btn-default eco-download-btn" href="#" title="Export">EXPORT</a>
    </div>
</div>

<script type="text/javascript">

        require(["jquery", "site/eco.site"], function (jQuery, site) {
            jQuery(function ($) {
                var action = new site.Action("files-manipulation-container", "loader");
                action.onChangeLoaderVisibility(false);
                action.onHandleInputChanges("inputfile", "data-multiple-caption");

                action.onShowInfoImport("eco-upload-file-submit-btn", "@this.Url.Action("ImportFile", "Home")");
                action.onShowInfoExport("eco-download-btn", "eco-download-data", "@this.Url.Action("ExportAirInfoByPN", "Home")");
                action.onShowInfoExportABC("eco-download-abc-btn", "div-abc", "@this.Url.Action("ExportAirInfoByABC", "Home")");

            });
        });

</script>
